@model Teknoroma.MODEL.Entity.Customer
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/CashierSalesRepresentative/Shared/Shared.cshtml";
    var customers = TempData["Customer"];
}


    <div class="col-lg-3">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create Customer</h1>
        </div>

        @if (TempData["Info"] != null)
        {
            <span class="text-danger">@TempData["Info"]</span>
        }
        @using (Html.BeginForm("Customer", "CashierSalesRepresentative", FormMethod.Post, new { @class = "user" }))
        {
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-user", placeholder = "Company Name", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.ContactName, new { @class = "form-control form-control-user", placeholder = "Contact Name", @type = "text" })
                    @Html.ValidationMessageFor(x => x.ContactName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.ContactTitle, new { @class = "form-control form-control-user", placeholder = "Contact Title", @type = "text" })
                    @Html.ValidationMessageFor(x => x.ContactTitle, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.TCKN, new { @class = "form-control form-control-user", placeholder = "TCKN", @type = "text" })
                    @Html.ValidationMessageFor(x => x.TCKN, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-sm-12">
                <h5>Gender</h5>
                <div class="col-sm-12">
                    Woman @Html.RadioButtonFor(x => x.Gender, true)

                    Man  @Html.RadioButtonFor(x => x.Gender, false)
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">

                    @Html.TextBoxFor(x=>x.BirthDate, new { placeholder = "BirthDate", id = "datepicker2", @class = "form-control" })
                </div>
            </div>

            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control form-control-user", placeholder = "Address", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Address, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-user", placeholder = "Phone", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Phone, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Fax, new { @class = "form-control form-control-user", placeholder = "Fax", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Fax, null, new { @class = "text-danger" })
                </div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
        }

    </div>
<div class="col-lg-6">
    @if (TempData["Customer"] != null)
    {

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Customer List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Company Name</th>
                                <th>Contact Name</th>
                                <th>Contact Title</th>
                                <th>BirthDate</th>
                                <th>Gender</th>
                                <th>Phone</th>
                                <th>Fax</th>
                                <th>Address</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in customers as IEnumerable<Teknoroma.MODEL.Entity.Customer>)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.ContactName</td>
                                    <td>@item.ContactTitle</td>
                                    <td>@item.BirthDate</td>
                                    @if (item.Gender == true)
                                    {
                                        <td>Woman</td>
                                    }
                                    else if(item.Gender==false)
                                    {
                                        <td>Man</td>
                                    }
                                    else
                                    {
                                        <td><i>Unstated</i></td>
                                    }
                                    <td>@item.Phone</td>
                                    <td>@item.Fax</td>
                                    <td>@item.Address</td>
                                    <td>@Html.ActionLink("Update", "UpdateCustomer", new { id = item.ID }, new { @class = "btn btn-dark btn-user" })</td>
                                    <td>@Html.ActionLink("Delete", "DeleteCustomer", new { id = item.ID }, new { @class = "btn btn-danger btn-user" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>


