@model Teknoroma.MODEL.Entity.Employee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/UnitHead/Shared/Shared.cshtml";
}


<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create Employee</h1>
    </div>

        @if (TempData["Info"] != null)
        {
            <span class="text-danger">@TempData["Info"]</span>
        }
        @using (Html.BeginForm("AddEmployee", "UnitHead", FormMethod.Post))
        {


            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-user", placeholder = "First Name", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control form-control-user", placeholder = "Last Name", @type = "text" })
                    @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-control-user", placeholder = "Password", @type = "text" })
                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-sm-12">
                //todo:title has to from enums..
            </div>
            <div class="form-group row col-sm-12">
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.Salary, new { @class = "form-control form-control-user", placeholder = "Salary", @type = "number" })
                    @Html.ValidationMessageFor(x => x.Salary, null, new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
        }

</div>


