@model Teknoroma.MODEL.Entity.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/UnitHead/Shared/Shared.cshtml";

    var categories = ViewBag.Category;
    var suppliers = ViewBag.Supplier;
    var products = TempData["Product"];
}

<div>
    <div class="col-lg-6">

        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create Product</h1>
            </div>

            @if (TempData["Info"] != null)
            {
                <span class="text-danger">@TempData["Info"]</span>
            }
            @using (Html.BeginForm("AddProduct", "UnitHead", FormMethod.Post, new { @class = "user" }))
            {


                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-user", placeholder = "Product Name", @type = "text" })
                        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control form-control-user", placeholder = "Unit Price", @type = "number" })
                        @Html.ValidationMessageFor(x => x.UnitPrice, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.UnitInStock, new { @class = "form-control form-control-user", placeholder = "Unit in Stock", @type = "number" })
                        @Html.ValidationMessageFor(x => x.UnitInStock, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.QuantityPerUnit, new { @class = "form-control form-control-user", placeholder = "Quantity per Unit", @type = "text" })
                        @Html.ValidationMessageFor(x => x.QuantityPerUnit, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.CriticLevel, new { @class = "form-control form-control-user", placeholder = "Critic Level", @type = "number" })
                        @Html.ValidationMessageFor(x => x.CriticLevel, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">

                        @if (ViewBag.Category != null)
                        {
                            <h4>Select the Category</h4>
                            <div class="list-group">
                                <select name="CategoryID">
                                    @foreach (var item in categories)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>

                            </div>
                        }
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <div class="col-sm-12">
                        @if (ViewBag.Supplier != null)
                        {
                            <h4>Select the Supplier</h4>
                            <div class="list-group">
                                <select name="SupplierID">
                                    @foreach (var item in suppliers)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                        <div class="form-group row col-sm-12">
                            <h4>Select the Statu</h4>
                            <div class="col-sm-12">
                                Passive @Html.RadioButtonFor(x => x.Statu, 1)
                            </div>
                            <div class="col-sm-12">
                                Active  @Html.RadioButtonFor(x => x.Statu, 2)
                            </div>
                        </div>
                    </div>
                </div>


                <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
            }


        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Units in Stock</th>
                                <th>Critic Level</th>
                                <th>Unit Price</th>
                                <th>Category Name</th>
                                <th>Supplier Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in products as IEnumerable<Teknoroma.MODEL.Entity.Product>)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.UnitInStock</td>
                                    <td>@item.CriticLevel</td>
                                    <td>@item.UnitPrice</td>
                                    @if (item.CategoryID != null)
                                    {
                                        <td>@item.Category.Name</td>
                                    }
                                    else
                                    {
                                        <td><i>not specified</i></td>
                                    }
                                    @if (item.SupplierID != null)
                                    {
                                        <td>@item.Supplier.Name</td>
                                    }
                                    else
                                    {
                                        <td><i>not specified</i></td>
                                    }

                                    <td>@Html.ActionLink("Update", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-dark btn-user" })</td>
                                    <td>@Html.ActionLink("Delete", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger btn-user" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

