@model List<Teknoroma.MODEL.Entity.Product>
@{
    ViewBag.Title = "InventoryTracking";
    Layout = "~/Views/UnitHead/Shared/Shared.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Inventory Tracking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Units in Stock</th>
                        <th>Critic Level</th>
                        <th>Unit Price</th>
                        <th>Supplier Name</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.UnitInStock</td>
                            <td>@item.CriticLevel</td>
                            <td>@item.UnitPrice</td>
                            @*<td>
                                @if (item.Supplier.Name != null)
                                {
                                    @item.Supplier.Name

                                }
                                @if (item.Supplier.Name == null)
                                {
                                   
                                }
                            </td>*@

                            @*@if (@item.Category.Name != null)<td>@{ item.Category.Name; }</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
