@model Teknoroma.MODEL.Entity.Supplier
@{
    ViewBag.Title = "UpdateSupplier";
    Layout = "~/Views/UnitHead/Shared/Shared.cshtml";
}


<div class="col-lg-6">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Update Supplier</h1>
    </div>
    @using (Html.BeginForm("UpdateSupplier", "UnitHead", FormMethod.Post, new { @class = "user" }))
    {


        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control form-control-user", placeholder = Model.Name, @type = "text" })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextBoxFor(x => x.ContactName, new { @class = "form-control form-control-user", placeholder = Model.ContactName, @type = "text" })
                @Html.ValidationMessageFor(x => x.ContactName, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextBoxFor(x => x.ContactTitle, new { @class = "form-control form-control-user", placeholder = Model.ContactTitle, @type = "text" })
                @Html.ValidationMessageFor(x => x.ContactTitle, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextAreaFor(x => x.Address, new { @class = "form-control form-control-user", placeholder = Model.Address, @type = "text" })
                @Html.ValidationMessageFor(x => x.Address, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control form-control-user", placeholder = Model.Phone, @type = "text" })
                @Html.ValidationMessageFor(x => x.Phone, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-12">
                @Html.TextBoxFor(x => x.Fax, new { @class = "form-control form-control-user", placeholder = Model.Fax, @type = "text" })
                @Html.ValidationMessageFor(x => x.Fax, null, new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-primary btn-user btn-block" />
    }

</div>

